:host{
    form{
        display: flex;
        flex-direction: column;
        padding: 1em;
        text-align: center;
    }
    .disabled{
        display: none;
    }
    .enabled{
        display: block;
    }
    #title{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.8em;
        color:brown;
    }
}